.flex {
    display: flex;
}

.gap {
    gap: 1rem;
}

strong {
    color: $redRose;
}

.text-dark {
    color: $darkestGray;
}

.text-gray-small {
    color: $graydark2;
    font-size: 12px;
}

.relative {
    position: relative;
}
