.filter-sort-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    position: relative;
    color: $darkestBlue;
    font-size: 18px;
    line-height: 24px;
}
