.movie-card {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & .movie-name {
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.button-addtofavorites {
    position: absolute;
    top: 12px;
    right: 12px;
}
