:root {
    font-family: Helvetica;
}

$lightBlue: #f0f9ff;
$blue: #bae6fd;
$darkBlue: #7dd3fc;
$darkestBlue: #0ea5e9;
$lightGray: #f3f4f680;
$gray: #d1d5db;
$red: #f87171;

@import 'resetCSS';
@import 'aCommon';
@import 'resetbutton';
@import 'iconHeart';
@import 'select';
@import 'circleToggle';
@import 'filterSortButton';
@import 'subHeader';
