:root {
    font-family: DM Sans, sans-serif;
}

$white: #ffffff;
$lightBlue: #f0f9ff;
$blue: #bae6fd;
$darkBlue: #7dd3fc;
$darkestBlue: #0ea5e9;
$blueF6: #3b82f6;
$lighterGray: #f3f4f680;
$gray: #d1d5db;
$lightGray: #d1d5db;
$graydark2: #9ca3af;
$darkGray: #6b7280;
$darkestGray: #111827;
$red: #f87171;
$redRose: #be123c;
$border: 2px solid $lightGray;
$borderRadius: 8px;

@import 'resetCSS';
@import 'aCommon';
@import 'resetbutton';
@import 'iconHeart';
@import 'select';
@import 'circleToggle';
@import 'filterSortButton';
@import 'subHeader';
@import 'page404';
@import 'layout.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'loginForm.scss';
@import 'button.scss';
@import 'searchInput.scss';
@import 'movieCard.scss';
@import 'movieList.scss';
